.todo_list {
  background-color: #fff;
  margin: 0 auto;

  .todo_item {
    .todo_label {
      border-bottom: 1px solid lighten(#000, 70%);

      .todo_checkbox {
        // position: absolute;
        // width: 0;
        // height: 0;
      }

      .todo_text {
        line-height: 42px;
      }
    }
  }
}

.todo_create {
  position: relative;
  padding: 1em;

  form {
    * {
      vertical-align: middle;
    }

    .create_icon {
      font-weight: bold;
      font-size: 40px;
      width: 4%;
    }

    .create_input {
      background: none;
      border: 1px solid lighten(#000, 70%);
      margin: 0px 1em;
      width: 80%;
      height: 42px;
      padding: 0px 15px;
      outline: none;
      border-radius: 5px;
    }

    .create_btn {
      height: 42px;
      background-color: #000;
      color: #fff;
      width: 14%;
      border: none;
      border-radius: 5px;
    }
  }
}
